- if image = product.images.first
	= link_to(product_path(product.id)) do
		.ph{:style => "background-image: url(#{image.file.url(:large)})"} 
			.over
				.info
					%h1 #{product.name}
					%p $ #{product.price}
					.hr
					%h4.more ver mas