.product{
  #myCarousel{
    height: 600px;
    width: 90%;
    .carousel-inner{
      height: 80%;
    }
    .thumbs{
      margin-top: 20px;
      background: none repeat scroll 0 0 white;
      height: 20%;
      overflow: hidden;
      .item{
        width: 25%;
        float: left;
      }
      .ph {
        img{
        height: 100%;
        max-width: none;
        }
      }
      .over{
        cursor: pointer;
      }
    }
  }



  .detail{
    margin-top: 2em;
    .span6{      
      width: 50%;
      }
    .prod{
      margin-top: 2em;
      padding-right: 6em;
      h5{
        position: relative;
        top: -.5em;
      }
      p{
        border-bottom: 1px solid #CCCCCC;
        margin-bottom: 1em;
        padding-bottom: 1em;
      }
      p.price{
        font-size: 1.5em;
      }
      .selects{
        border-bottom: 1px solid #CCCCCC;
        height: 3em;
        margin-bottom: 1em;
        color: #CCCCCC;
        label, .dd-container{
          width: 20%;
          display: inline-block;
          font-style: italic;
          margin: 0;
          padding: 0;
        }
        input[type="number"]{
          border: 1px solid #CCC;
          padding: .5em;
        }
      }
      .btn-large{
        width: 49%;
        font-size: 12px
      }
    }




    .item{
      height: 100%;
      border: none;
      position: relative;
      cursor: default;
      .over{
        cursor: default;
      }
      .more{
        width: 180px;
        height: 179px;
        position: absolute;
        left: 33%;
        top: 33%;
        background: url(sprites.png);
        background-position: 0 -110px;
      }
    } 





    .info{
     h5.description{
        position: relative;
        top: -.5em;
      }
      p.price{
        font-size: 1.5em;
      }
      p{
        border-bottom: 1px solid #CCC;
        padding-bottom: 1em;
        margin-bottom: 1em;
      }
      .btn-large{
        width: 49%;
        font-size: 12px;
      }
      .btn-large:hover{
        color: #CCC;
      }
      .btn-large:first-child{
        margin-right: 2%;
      }
    }
  }
}