@media (min-width: 1200px) {
  .container{
    width:1024px;
  }
  .content{
    margin-top:2em;
  }
  .row-fluid .span2{
    width: 20%;
  }
  .row-fluid .span3{
    width: 25%;
    .item{
      .ph{
        height:250px;
        overflow: hidden;
        a{
          float: left;
        }
        img{
          height:100%;
        }
      } 
    }
  }
  .row-fluid .span4{
    width: 33.33333333%;
  }
  .no-space .row-fluid .span6{
    width: 50%;
  }
  .row-fluid .span9{
    width: 75%;
  }
  .row-fluid .span12{
    width: 100%;
  }
}
 
@media (min-width: 768px) and (max-width: 979px) {}
 

@media (max-width: 767px) {
  .box{
    .span3{
      max-height: 0px;
      visibility:hidden;
    }
  }
  .novedadesbox{
    .span3{
      float: left;
      width: 25%;
      }
    .item{
    }
  }
  .novedadesbox{
    .novedades{
      .slide{
        .item{
          p{
            color: rgb(102, 102, 102);
            width: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
      .span2{
        float: left;
        width: 20%;
      }
    }
  }
  .topdesigners{
    max-height: 0px;
    visibility:hidden;
  }
}

@media (max-width: 480px) {
  .topdesigners{
      max-height: 0px;
      visibility:hidden;
    }
    #myCarousel{
    }
  .box{
      .span3{
        max-height: 0px;
        max-width: 0px;
        visibility:hidden;
      }
    }
    .nuevas{
      max-height: 0px;
      max-width: 0px;
      visibility:hidden;
    }
    .novedadesbox{
      .span3{
        float: left;
        width: 25%;
      }
      .item{
        .ph{
          height: 40px;
        }
        .info{
            visibility: hidden;
          }
      }
    }
  }