@media (min-width: 1200px) {
.row-fluid .span3{
  width: 25%;
}
.row-fluid .span9{
  width: 75%;
}

 }
@media (max-device-width: 768px)and(orientation: portrait) {

}

@media (max-device-width: 480px) {

  .fondo .span3.full{
    	display: none;
    }
   .span9.full{
    	width: 100%;
   	}
   .row-fluid .nuevas .span3{
 			width: 90%;
 			margin-left: 5%;
 			.item{
 				.ph{
 					height: 600px;
 				}	
 			}
 		}
  .row-fluid .novedades .span3{
 	  width: 90%;
 	  margin-left: 5%;
 	  display: inline-block;
 		.item{
 				.ph{
 					height: 600px;
 				}	
 			}
 	}
 	.boxtitle.first{
 		margin-top: 120px;
 		font-size: 3.5em;
 	}
 	.info{
  	font-size: 3em;
  }
  .row-fluid.topdesigners{
  	display: none;
  }
}
