@media (min-width: 1200px){
  .container{
    width:1024px;
  }
  .row-fluid .span3{
    width: 25%;
  }
  .row-fluid .span6{
    width: 50%;
  }
  .row-fluid .span9{
    width: 75%;
  }
}
@media (max-width: 979px){
  .container{
    width:920px;
  } 
  #header .navbar .nav {
    float: none;
    width: 100%;
    text-align: center;

  }
}

@media (max-width: 960px){
  .container{
    width:920px;
  }
  
  

}
@media (max-width: 768px){
  .container{
    width:100%;
  }
  #header .navbar .nav {
    float: left;
    font-size: 1.4em;

  }


}
@media only screen and (max-device-width: 480px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container{
    width: 80%;
    margin: 0 auto;
  }
  .bx-wrapper #mainslider .item {
    height: 170px;
  }
  .login-box, .search-box{
    position: relative; 
    top: 10px;
  }
  #header .navbar .brand {
    margin: 0;
  }
  #header .navbar .btn-navbar {
    position: relative;
    right: 0;
    top: 0px;
  }
  .btn-group{
    margin-bottom: 25px;
  }
  .navbar-inner .btn.btn-navbar{
     margin: 0;
  }
  .info > p {
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .row-fluid .span3 .item .ph {
    height: 100px;
    overflow: hidden;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -20px;
  }
  .bx-viewport{
    height: auto;
  }

  .fondo .span3.full{
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container{
    width: 420px;
    margin: 0 auto;
  }
  .bx-wrapper #mainslider .item {
    height: 170px;
  }
  #header .navbar .brand {
    margin: 0;
  }
  #header .navbar .btn-navbar {
    position: relative;
    right: 0;
    top: 0px;
  }
  .btn-group{
    margin-bottom: 25px;
    float: none;
    width: 100%;
  }
  .navbar-inner .btn.btn-navbar{
     margin: 0;
  }
  .info > p {
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .row-fluid .span3 .item .ph {
    height: 100px;
    overflow: hidden;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -20px;
  }
  .bx-viewport{
    height: auto;
  }

  .fondo .span3.full{
    display: none;
  }
}
