/* LAYOUT */

.no-space [class*="span"] {
    margin-left: 0;
}

/* FONTS */

@font-face {
  font: {
    family: 'GothamBold';
    weight: 'normal';
    style: 'normal';
  }
  src:asset-url('gothambold.eot', font);
  src:asset-url('gothambold.eot', font) format('embedded-opentype'),
      asset-url('gothambold.woff', font) format('woff'),
      asset-url('gothambold.ttf', font) format('truetype'),
      asset-url('gothambold.svg#GothamRegular', font) format('svg')
}
@font-face {
  font: {
    family: 'GothamMedium';
    weight: 'normal';
    style: 'normal';
  }
  src:asset-url('gothammedium.eot', font);
  src:asset-url('gothammedium.eot', font) format('embedded-opentype'),
      asset-url('gothammedium.woff', font) format('woff'),
      asset-url('gothammedium.ttf', font) format('truetype'),
      asset-url('gothammedium.svg#GothamRegular', font) format('svg')
}
@font-face {
  font: {
    family: 'GothamLight';
    weight: 'normal';
    style: 'normal';
  }
  src:asset-url('GothamHTF-XLight.eot', font);
  src:asset-url('GothamHTF-XLight.eot', font) format('embedded-opentype'),
      asset-url('GothamHTF-XLight.ttf', font) format('truetype'),
      asset-url('GothamHTF-XLight.svg#GothamRegular', font) format('svg')
}

h1, h2, h3, h4, h5, h6, a, textarea{
  margin: 0;
  font-family: 'GothamBold';
  color: #666;
  text-transform: uppercase;
  font-weight:normal;
}
h2{ 
  font-size: 24px;   
  font-family: 'GothamBold';
}
h4{ 
  font-size: .95em; 
}
h5{ 
  font-size: .8em;
  font-family: 'GothamMedium';
  }

a{
  font-size: .8em;
  text-transform: uppercase;
  color: #808080;
  cursor: pointer;
}
a:active, a:hover{
  color: #CCC;
  text-decoration: none;
}
p, textarea{
  font-family: 'GothamMedium';
  font-size: .750em;
}
ul,ol{
  margin:0;
}

/* GENERAL */

body{
  background: #fff;
  background-repeat: repeat;
}
.container{
  width: 1080px;
}
.box{
  background:#fff;
}
/* BUTTONS */
.btn-group{
  margin-bottom:10px;
  .btn,
  .btn:last-child,
  .btn:first-child,
  .btn-large{
    padding: 15px 30px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-family: 'GothamLight';
    text-shadow: none;
    p{
      margin:0px;
    }
  }
  .btn-large{
    width:100%;
    text-align:center;
  }
  .btn-border{
    border-right:1px solid #4D4D4D;
  }
}
.btn-primary{
  background-color: transparent;
  background-image: none;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: 'GothamMedium';
  padding: 15px 25px;
  text-shadow: none;
  text-transform: uppercase;
  box-shadow: none;
}
.btn-primary:hover{
  background-color: #fff;
  color: #101010;
}
.simple-btn{
  border: none;
  color: #101010;
  font: .8em/1em 'GothamMedium';
}

.order-by,.order-by-center, .paginator{
  float: left;
  h5, a,p{
  float: left;
  margin: 0;
  margin-left: .5em;
  font-size: .8em;
  font-family: 'GothamMedium';
  font-weight: normal;
  }
  .selected{
    font-family: 'GothamBold'; 
    background: none;
  }
}
.order-by-center{
  margin-left: 1.4em;
  border-left: 1px solid #CCC;
  height: 20px;
  padding: 0 1em;
}
.paginator{
  float: right;
}

/* PRODUCTS GRID */

.collections{
  padding-top:100px;
}
.collections .span3{
  .item{
    background: #FFF;
    margin:0;
    overflow: hidden;
    .ph{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height:350px;
      position: relative;
    }
    .over{
      background: rgba(255, 255, 255, 0.70);
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 0;
      display: none;
      text-align: center;
    }
    .info{
      position: relative;
      height: 80%;
      width: 80%;
      margin:10%;
      padding:0;
    }
    h1{
      font-size: 20px;
      color:#101010;
      margin:125px 0 0 0;
      width: 100%
    }
    p{
      font-family: 'GothamLight';
      font-size: 18px;
      color:#101010;
      margin:0px 0 0 0;
      width: 100%
    }
    h4{
      width:100%;
      margin:10px 0;
      padding:0;
      color:#101010;
    }
    .hr{
      width:10%;
      margin:15px 45%;
      background:#606060;
      height:2px;
      float:left;
    }
    a{
      margin:0px;
    }
  }
}
/*-----------------------------------------------------------------------------*/
/*
HEADER
*/
/* Buttons */
.btn.btn-white{
  background: #fff;
  color:#101010;
  padding:15px 30px;
  border-radius: 0px;
  border:0px;
  font: 14px 'GothamLight', helvetica, arial, sans-serif;
  box-shadow: none;
  text-transform: uppercase;
}
.btn.btn-white:hover{
  background: #101010;
  color:#fff;
}
.btn.btn-black{
  background: #101010;
  color:#fff;
  padding:15px 30px;
  border-radius: 0px;
  border:0px;
  font: 14px 'GothamLight', helvetica, arial, sans-serif;
  box-shadow: none;
  text-transform: uppercase;
}
.btn.btn-black:hover{
  background: #fff;
  color:#101010;
}
.btn.btn-blackline{
  background: transparent;
  border:1px solid #101010;
  color:#101010;
  padding:15px 30px;
  border-radius: 0px;
  font: 14px 'GothamLight', helvetica, arial, sans-serif;
  box-shadow: none;
  text-transform: uppercase;
}
.btn.btn-blackline:hover{
  background: #101010;
  color:#fff;
}
.userbar{
  margin-top:5px;
  ul{
    list-style: none;
    li{
      float:left;
      padding:5px 0 5px 10px;
      a{
        font: 11px 'GothamMedium', helvetica, arial, sans-serif;
        color:#c0c0c0;
        background:none;
        padding:0;
      }
      a:hover{
        color:#f0f0f0;
        background:none;
      }
      p{
        padding: 4px 0px;
        font: 12px 'GothamMedium', helvetica, arial, sans-serif;
        color: #fff;
        text-shadow:none;
        margin:2px 3px;
      }
    }
  }
}
.navbar-inner{
  .btn.btn-navbar{
    border-radius: 0px;
    background: none;
    border: none;
    moz-border-radius:0px;
    color:  #666;
    height: 40px;
    margin: 0 30px;
    opacity: 0.7;
    padding: 0;
    width: 60px;
    font-size: 2.2em;
    font-family: 'GothamMedium';
  }
  .btn.btn-navbar.collapsed{
    border-radius: 0px;
    moz-border-radius:0px;
    background-image: transparent;
  }
}
#loginbox, #searchbox{
  display:none;
  margin-top:0px;
  input{
    border:none;
    box-shadow: none;
    border-radius: 0px;
  }
}
#searchbox{
  height:60px;
  input[type="text"]{
    margin-top:15px;
  }
  .searchbutton{
    background:url(search.png) no-repeat ;
  }
}
.login-box,
.search-box{
  display: none;
  float: right;
  height: 180px;
  padding: 0 2.5%;
  background: url(sprites.png);
  background-position: 0 -320px;
  text-shadow: none;
  border-radius: 0;
  top: 44px;
  z-index: 1000;
  right: 0;
  position: absolute;
  .btn{
    width:60%;
    background: none;
    border: none;
    color: gray;
    text-shadow: none;
    text-transform: uppercase;
    font-family: 'GothamMedium';
    font-size: .7em;
    line-height:1.2em;
    margin: .7em 0 0 2em;
    padding:0;
    display: block;
    float: left;
    box-shadow: none;
    text-align: center;
  }
  .btn:hover{
    color:#fff;
  }
  label{
    text-transform: uppercase;
    color: gray;
    float: left;
    padding: .2em .5em;
    font-family: 'GothamMedium';
    font-size: .7em;
    text-align:left;
  }
  input{
    width:96%;
  }
  input[type="submit"]{
    width:40%;
    margin:0;
    padding: 0;
  }
}
.login-box{
  background-size: 100% 500%;
  background-position: 0px 370px;
  height: 210px;
  label{
    padding: 1.3em 0 0;
    width: 30%;
  }
  input[type="text"]{
    float: right;
    width: 60%;
    margin-bottom: .1em;
  }
  .btns{
    float: left;
    width: 100%;
    top: 1em;
    .btn{
      margin: 1.5em 0;
      box-shadow: none;
    }
    .btn:first-child{
      border-right: 1px solid gray;
      border-radius: 0;
    }
  }
}
#header{
  background-color:#101010;
  position: fixed;
  z-index: 9999;
  width:100%;
  .logo{
    background: url(sprites.png);
    background-position: -30px -75px;
    float: left;
    width: 185px;
    height: 25px;
    margin:10px 0px 0 0;
    a{
      display: block;
      height: 100%;
    }
  }
  .navbar{
    position: relative;
    margin-bottom: 0;
    .brand {
      background: url(logo.png) no-repeat center left;
      float: left;
      width: 185px;
      height:30px;
      margin: 0;
      text-indent: -99999px;
      display: block;
      padding: 0;
    }
    .nav {
      margin: 7px 0 0 0;
      text-align: center;
    }
    .nav > li{
      margin: 0 8px;
    }
    .nav > li:first-child{
      margin: 0 8px 0 16px;
    }
    .navbar-inner {
      background-color: transparent;
      background-image: none;
      background-repeat:none;
      border: none;
      border-radius: none;
      box-shadow: none;
      padding: 0;
      margin: 0px 0 20px 0;
    }
    .nav > li:last-child{margin: 0;}
    
    .nav > li > a{
      padding: 0 10px;
      font: 12px 'GothamMedium', helvetica, arial, sans-serif;
      color: #909090;
      text-shadow:none;
      margin: 0;
    }
    .nav > li > a:hover{
      color: #fff;
    }
    li:last-child a{
      padding-right: 0;
    }
    .btn-navbar {
      position: absolute;
      top: 70px;
      right: 0px;
      background-color: none;
      box-shadow: 0 rgba(255, 255, 255, 0.1) inset,0 rgba(255, 255, 255, 0.075);
      border-radius: none;
      .btn {
        border-radius: none;
      }
    }
  }
}

@mixin select($section){
  body.#{$section}{
    .nav .#{$section} a{
      color:#fff;
    }
  }
}

@each $section in (sale, news, designers, ropa, zapatos, accesorios, gifts, journal) {
  @include select($section);
}

/*
FOOTER
*/
#footer{
  background: #101010;
  width: 100%;
  margin: 0px;
  margin-top: 5em;
  padding:50px 0  50px 0;
  h5{
    font-size: .7em;
    text-align: center;
    color: #666;
    top: 15px;
    position: relative;
  }
  h2{
    font-size: 22px;
  }
  a, p{
    font: 11px 'GothamLight', helvetica, arial, sans-serif;
    color:#808080;
    margin:5px 0;
  }
  a:hover{
    color:#fff;
  }
}
/* Titulos & bloques */

.boxtitle{
  width:100%;
  background:#fff;
  border-top:1px solid #ededed;
  border-bottom:1px solid #ededed;
  float:left;
  h5{
    font: italic 21px 'times new roman', times, georgia, serif;
    letter-spacing: 0pt;
    padding:80px 0;
    float:left;
    width:100%;
    color:#404040;
    text-align:center;
    text-transform: uppercase;
  }
}
.box{
  width:100%;
  background:#fff;
  border-top:1px solid #ededed;
  float:left;
  h5{
    font: italic 24px 'times new roman', times, georgia, serif;
    letter-spacing: 0pt;
    padding:80px 0 0 0;
    float:left;
    width:100%;
    color:#808080;
    text-align:center;
    text-transform: uppercase;
  }
  p{
    font-family:'GothamLight', helvetica, arial, sans-serif;
    padding:35px 25% 70px 25%;
    margin:0;
    font-size: 12px;
    line-height:25px;
    color:#101010;
    letter-spacing: 0.2pt;
  }
  .hr{
    float: left;
    width:2%;
    margin:25px 49% 30px 49%;
    background:#606060;
    height:2px;
  }
}
.page{
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  .span6{
    text-align: center;
  }
  .inner{
    position: absolute;
    width:100%;
    padding-top:20%;
    text-align: center;
    h1{
      font: 68px 'GothamBold', helvetica, arial, sans-serif;
      color:#fff;
      padding:5px 0px 5px 0px;
      text-transform: uppercase;
      margin:0;
    }
    h2{
      font: 24px 'GothamMedium', helvetica, arial, sans-serif;
      color:#fff;
      padding:5px 0px 5px 0px;
      margin:0;
      text-transform: uppercase;
    }
    .btn.btn-white{
      margin-top:25px;
    }
  }
}
#featured{
  padding-bottom: 52%;
}
#designerslist{
  .row{
    background: #fff;
  }
  .span6{
    padding:0;
  }
  .item{
    padding:0 25%;
    height:530px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .row:nth-child(even){
    .span6.photo{
      float:left;
    }
    .span6.info{
      float:right;
    }
  }
  .row:nth-child(odd){
    .span6.photo{
      float:right;
    }
    .span6.info{
      float:left;
    }
  }
  h1{
    margin:110px 0 0 0;
    color: #101010;
    font-size: 42px;
    letter-spacing:0.3pt;
  }
  p{
    color:#101010;
    margin:15px 0 20px 0;
    text-transform:none;
    font: 14px/24px 'GothamLight', helvetica, arial, sans-serif;
  }
  .hr{
    width:10%;
    margin:23px 45% 8px;
    background:#606060;
    height:2px;
  }
  .btn-primary{
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: 0px;
    border-radius: 0;
    color: #101010;
    font-family: 'GothamMedium';
    padding: 10px 20px;
    text-shadow: none;
    text-transform: uppercase;
  }
  .btn-primary:hover{
    background-color: #101010;
    color: #fff;
  }
}

#home{
  background-image: url(homebg.jpg); 
}
.info{
  font-size: 15px;
  padding: 10px 15px;
  height: 15px;
  position: relative;
  .background{
    position: absolute;
    top: 0;          
    left: 0;
    width: 100%;     
    display: none;
    background: url(sprites.png);
  }
  p{
    position: relative;
    float: left;
    text-transform: uppercase;
  }
  .precio{
    float: right;
  }
}
/*--------------------------------
END HOME
--------------------------------*/
/*--------------------------------
SIGN UP
--------------------------------*/
.signupform.span3{
  width:100%;
  margin:0;
  float:none;
  h2{
    font: 1.750em 'GothamBold', helvetica, arial, sans-serif;
    color: #808080;
  }
  input{
    margin:10px 0px 0px 0px;
  }
  .button{
    border-radius:0px;
    background: transparent;
    border:1px solid #101010;
    color:#101010;
    padding:15px 30px;
    border-radius: 0px;
    font: 14px 'GothamLight', helvetica, arial, sans-serif;
    box-shadow: none;
    text-transform: uppercase;
    margin-top:10px;
  }
  .button:hover{
    background: #101010;
    color:#fff;
  }
  label{
    text-transform:uppercase;
    width:100%;
    margin:10px 0px 0px 0px;
    float:left;
    font: 0.750em 'GothamMedium', helvetica, arial, sans-serif;
    color: #666;
  }
}
/*--------------------------------
CART
--------------------------------*/
.cart{
  width:1024px;
  margin:2em auto 0;
  .cart-items{
    margin-top:10px;
  }
  .nav{
    margin-right:10px;
  }
  .cart-item{
    margin-top:10px;
    background:#fff;
  }
  .ph{
    width:90%;
  }
  h1{
    font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
    color: #808080;
  }
  h2{
    font: 1.1em 'GothamBold', helvetica, arial, sans-serif;
    color: #bbb;
  }
  p{
    font: 0.8em 'GothamMedium', helvetica, arial, sans-serif;
    color: #999;
  }
  label{
     text-transform:uppercase;
    font: 0.7em 'GothamMedium', helvetica, arial, sans-serif;
    color: #666;
  }
  .span1{
    width:10%;
    text-align:center;
  }
  .span5{
    width:40%;
  }
  .delete{
    text-align: right;
    margin: 0;
    padding: 0;
    color: #ff0000;
    margin-top: 6px;
    float: right;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px 8px 15px;
    border-radius: 5px;
  }
  .delete:hover{
    background:#f5f5f5;
  }
}
/*--------------------------------
ORDER
--------------------------------*/
.order{
  h1{
    font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
    color: #808080;
  }
}
.formtastic fieldset.inputs{
  font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
  color: #808080;
  border:none;
  text-align:left;
  padding:0;
  margin:0;
}
.formtastic fieldset.inputs ol > li.input.stringish input[type="text"], .formtastic fieldset.inputs ol > li.input.stringish input[type="password"], .formtastic fieldset.inputs ol > li.input.stringish input[type="number"], .formtastic fieldset.inputs ol > li.input.stringish input[type="email"], .formtastic fieldset.inputs ol > li.input.stringish input[type="url"], .formtastic fieldset.inputs ol > li.input.stringish input[type="tel"], .formtastic fieldset.inputs ol > li.input.stringish input[type="search"], .formtastic fieldset.inputs ol > li.input.stringish input[type="date"], .formtastic fieldset.inputs ol > li.input.stringish input[type="time"], .formtastic fieldset.inputs ol > li.input.stringish input[type="datetime"], .formtastic fieldset.inputs ol > li.input.stringish input[type="datetime-local"]{
  border-radius:0px;
  margin-top:5px;
  width:100%;
}
.formtastic fieldset.inputs > legend{
  font: .7em 'GothamMedium', helvetica, arial, sans-serif;
  color: #808080;
  border:none;
  text-align:left;
  margin-bottom:10px;
}
.formtastic fieldset.inputs > ol > li.input label.label{
  font: .7em 'GothamMedium', helvetica, arial, sans-serif;
  width:auto;
  text-align:left;
  color:#808080;
}
/*--------------------------------
SLIDER
--------------------------------*/
.slider-info {
  position: absolute;
  width:50%;
  height: 255px;
  left: 0;
  right: 0;
  top: 50%;
  padding: 25px;
  margin: -125px auto 0;
  background: transparent;
  text-align: center;
  h1{
    font: 120px 'GothamMedium',helvetica,arial,sans-serif;
    color: #FFFFFF;
    margin: 20px 0;
  }
  h6{
    font: 18px 'GothamMedium',helvetica,arial,sans-serif;
    letter-spacing: 6pt;
    color: #FFFFFF;
    margin: 18px 0 15px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .carousel-caption.designer {
    background: transparent;
  }
}
.sessions{
  a{
    padding:0 25%;
    margin:0;
  }
}
.new_admin_user{
  padding:100px 25% 0;
  width:50%;
  input[type="email"], input[type="password"], input[type="text"]{
    width:100%;
    border-radius:0px;
  }
  input[type="submit"]{
    border-radius:0px;
    background: transparent;
    border:1px solid #101010;
    color:#101010;
    padding:15px 30px;
    border-radius: 0px;
    font: 14px 'GothamLight', helvetica, arial, sans-serif;
    box-shadow: none;
    text-transform: uppercase;
    margin-top:15px;
  }
  input[type="submit"]:hover{
    background: #101010;
    color:#fff;
  }
  input[type="checkbox"]{
    float:left;
    margin-right:5px;
  }
  #admin_user_role{
    border-radius:0px;
    margin-top:10px;
  }
  .form-actions{
    background-color: transparent;
    border-top: 0px;
    padding:0px;
    margin:10px 0 0 0;
  }
}