/*LAYOUT*/
.no-space [class*="span"] {
    margin-left: 0;
}

/*
FONT
*/

@font-face {
    font: {
       family: 'GothamBold';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('gothambold.eot', font);
    src: asset-url('gothambold.eot', font) format('embedded-opentype'),
         asset-url('gothambold.woff', font) format('woff'),
         asset-url('gothambold.ttf', font) format('truetype'),
         asset-url('gothambold.svg#GothamRegular', font) format('svg')
}

@font-face {
    font: {
       family: 'GothamMedium';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('gothammedium.eot', font);
    src: asset-url('gothammedium.eot', font) format('embedded-opentype'),
         asset-url('gothammedium.woff', font) format('woff'),
         asset-url('gothammedium.ttf', font) format('truetype'),
         asset-url('gothammedium.svg#GothamRegular', font) format('svg')
}

h1, h2, h3, h4, h5, h6, a, textarea{
  margin: 5px 0;
  font-family: 'GothamBold';
  color: #666;
  text-transform: uppercase;
  font-weight:normal;
}
h2{ 
  font-size: 2em;   
  font-family: 'GothamMedium';
}
h4{ 
  font-size: .95em; 
}
h5{ 
  font-size: .8em;
  font-family: 'GothamMedium';
  }

a{
  font-size: .8em;
  text-transform: uppercase;
  color: #808080;
  cursor: pointer;
}
a:active, a:hover{
  color: #CCC;
  text-decoration: none;
}
p, textarea{
  font-family: 'GothamMedium';
  font-size: .750em;
}
ul,ol{
  margin:0;
}

/*GENERAL*/
body{
  background: url(bg.jpg);
  background-repeat: repeat;
}
.container{
  width: 1024px;
}
.over{
  background: url(black.png);
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  display: none;
}
.box{
  background:#fff;
}
h4.more{
  color: #FFF;
  position: absolute;
}

.btn-group{
  .btn,
  .btn:last-child,
  .btn:first-child,
  .btn-large{
    padding: 11px 25px;
    background: url(sprites.png);
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-family: 'GothamMedium';
    color: gray;
    text-shadow: none;
    p{
      margin:0px;
    }
  }
  .btn-large{
    width:100%;
    text-align:center;
  }
  .btn-border{
    border-right:1px solid #4D4D4D;
  }
}

.simple-btn{
  border: none;
  color: #000;
  font: .8em/1em 'GothamMedium';
}

.order-by,.order-by-center, .paginator{
  float: left;
  h5, a,p{
  float: left;
  margin: 0;
  margin-left: .5em;
  font-size: .8em;
  font-family: 'GothamMedium';
  font-weight: normal;
  }
  .selected{
    font-family: 'GothamBold'; 
    background: none;
  }
}
.order-by-center{
  margin-left: 1.4em;
  border-left: 1px solid #CCC;
  height: 20px;
  padding: 0 1em;
}
.paginator{
  float: right;
}

/*PRODUCTS GRID*/

.span4{
  .item{
    position: relative;
    cursor: pointer;
    h4.more{
      left: 43%;
      top: 50%;
    }
  }
}

/*-----------------------------------------------------------------------------*/
/*
HEADER
*/
#header{
  height: 110px;
  border-bottom: 1px solid #B3B3B3;
  margin-bottom: 10px;
  position: relative;
  
  .logo{
    background: url(sprites.png);
    background-position: -30px -75px;
    float: left;
    width: 185px;
    height: 25px;
    margin:10px 0px 0 0;
    a{
      display: block;
      height: 100%;
    }
  }
  
  .navbar{
    position: relative;
    top: 60px;
    .nav > li{
      margin: 0 .9em;
    }
    .nav{
      float:right;
      margin-right:0px;
    }
    .nav > li:last-child{margin: 0;}
    .nav > li > a{
      padding: 1em .9em .8em;
      font: 0.750em 'GothamBold', helvetica, arial, sans-serif;
      color: #666;
    }
    .nav > li > a:hover{
      color: #000;
    }
    li:last-child a{
      padding-right: 0;
    }
  }
  .btn-group{
    position: absolute;
    top: 0; right: 0;
    .btn{
      a{
        font-size: .7em;
      }
    }
  }
  .login-box,
  .search-box{
    display: none;
    float: right;
    height: 180px;
    padding: 0 2.5%;
    background: url(sprites.png);
    background-position: 0 -320px;
    text-shadow: none;
    border-radius: 0;
    top: 44px;
    z-index: 1000;
    right: 0;
    position: absolute;
    input[type="text"]{
      margin: .8em 0 0 -1em;
      width: 70%;
      float: left;
      padding: .2em .5em;
      border: none;
    }
    .btn{
      background: none;
      border: none;
      color: gray;
      text-shadow: none;
      text-transform: uppercase;
      font-family: 'GothamMedium';
      font-size: .7em;
      line-height:1.2em;
      margin: .7em 0 0 2em;
      display: block;
      float: left;
      box-shadow: none;
    }
    .btn:hover{
      color:#fff;
    }
    label{
      text-transform: uppercase;
      color: gray;
      float: left;
      padding: .2em .5em;
      font-family: 'GothamMedium';
      font-size: .7em;
      text-align:left;
    }
    input{
      width:98%;
    }
    input[type="submit"]{
      width:40%;
    }
  }
  .login-box{
    label{
      padding: 1.3em 0 0;
      width: 30%;
    }
    input[type="text"]{
      float: right;
      width: 60%;
      margin-bottom: .1em;
    }
    .btns{
      float: left;
      width: 100%;
      top: 1em;
      .btn{
        margin: 1.5em 0;
        padding: 1em;
        box-shadow: none;
      }
      .btn:first-child{
        border-right: 1px solid gray;
        border-radius: 0;
      }
    }
  }
}

@mixin select($section){
  body.#{$section}{
    .nav .#{$section} a{
      border-bottom: .6em solid #666;
    }
  }
}

@each $section in (sale, news, designers, ropa, zapatos, accesorios, gifts, journal) {
  @include select($section);
}

/*
FOOTER
*/
#footer{
  background: url(sprites.png);
  width: 100%;
  height: 50px;
  margin-top: 5em;
    h5{
    font-size: .7em;
    text-align: center;
    color: #666;
    top: 15px;
    position: relative;
  }
}
/*--------------------------------
HOME
--------------------------------*/
  /*
  CAROUSEL
  */
  #myCarousel{
    display: block;
    height: 470px;
    overflow: hidden;
    .carousel-inner{
      height: 100%;
      .slide{
        position: relative;
        height: 100%;
        .item{
          border: none;
          height: 100%;
          display: block;
          a{
            margin: 0;
          }
          img{
            width: 100%;
            position: absolute;
          }
          .info{
            float: left;
            position: absolute;
            top: 190px;
            width:100%;
            padding: 0;
            h1{
              width:100%;
              color: #FFF;
              text-align: center;
              text-shadow: 0px;
              margin: 0;
            }
            p{
              float:none;
              font-size: .8em;
              color:#808080;
            }
            .btn-group{
              width:50%;
              margin:0 auto;
            }
            .btn{
              width:100%;
              height:2.750em;
              margin-top:20px;
            }
          }
        }
      }
    }
  }
  .span3 .full{
  }
  .carousel{
    overflow: hidden;
    margin-bottom:0px;
  }
  .item-content{
    height: 111px;
    padding: 20px 25px 25px 25px;
    border-bottom:1px solid #ddd;
    background: url(sprites1.png);
    background-position: 0 -510px;
    h5{
      color: #666;
      line-height: 2em;
      margin: 0 0 10px;
      border-bottom: 1px solid #666;
    }
    p{
      height:80px;
      overflow:hidden;
    }
  }
  .selected,
  .item-content:hover{
    background: url(sprites.png);
    background-position: 0 -320px;
    color: #666;
    cursor: pointer;
  }
  .item-content:last-child{
    border-bottom:none;
  }

  .control-nav{
    text-align: center;
    margin-top:20px;
    .control,
    .active{
      background: url(sprites.png);
      background-position: 0 -70px;
      height: 10px;  width: 7px;
      margin: 5px;
      display: inline-block;
      cursor: pointer;
    }
    .active,
    .control:hover,
    .active:hover{
      background-position: -8px -70px;
    }
  }
  /*
  NOVEDADES, PRODUCTOS
  */
  .boxtitle{
    font-size: 14px;
    width:100%;
    background:#fff;
    height:40px;
    margin-bottom: 5px;
    margin-top:20px;
    h5{
      margin:12px 20px 8px 20px;
      float:left;
    }
  }
  .row-fluid .nuevas{
    margin: 5px 0 0 0;
    .span3{
      .item{
        position: relative;
        cursor: pointer;
        background: #FFF;
        margin-left: 1px;
    h4.more{
      left: 38%;
      top: 40%;
    }
        /*height: 285px;*/
        .ph{
          height:250px;
          overflow: hidden;
          a{
            margin: 0;
            img{
            width: 100%;
            }
          }
        }
      }
    }
  }
  .row-fluid .novedades{
    margin: 5px 0 0 0;
    .span3{
      margin-top: 1px;
      .item{
        position: relative;
        cursor: pointer;
        background: #FFF;
        margin-left: 1px;
        h4.more{
          left: 38%;
          top: 40%;
        }
        /*height: 285px;*/
        .ph{
          height:250px;
          overflow: hidden;
          a{
            margin: 0;
            img{
            width: 100%;
            }
          }
        }
      }
    }
  }
    .info{
      font-size: 15px;
      padding: 10px 15px;
      height: 15px;
      position: relative;
      .background{
        position: absolute;
        top: 0;          
        left: 0;
        width: 100%;     
        display: none;
        background: url(sprites.png);
      }
      p{
        position: relative;
        float: left;
        text-transform: uppercase;
      }
      .precio{
        float: right;
      }
    }
  /*
  TOP DESIGNERS
  */
  .topdesigners{
    .boxtitle{
    margin-top: 0px;
    }
    .boxProduct{
      height: 287px;
      overflow: hidden;
      }   
  }
  .row-fluid .span3.top-designers .item .ph {
    height: auto;
  }





  .topdesigners{
    margin-top:20px;
  }
  #myCarouselTopDesigner{
    display: block;
    background: #CCC;
    overflow: hidden;
    height: 331px;
    .carousel-inner{
      .slide{
        .item{
          border: none;
          img{
            height: auto;
            width: 100%;
            max-width: none;
          }
        }
      }
    }
  }
  ul.title, ul.top-designers{
    margin: 0;
    li{
      list-style: none;
      height: 43px;
      background: url(sprites.png);
      padding: 15px 0 0 20px;
      h4{
        color: gray;
      }
    }
    li.active a{
      color: #FFF;
    }
  }
  .top-designers{
    background:#fff;
    h6{
      padding: 1.5em 1.5em 1.5em;
    }
    .carousel{
      height: 308px;
      .carousel-inner{
        height: 285px;
        .move{
          position: relative;
        }
        .ph{
          text-align: center;
          a{
            margin-left: 2em;
          }
        }
      }
      .control-nav{
        width: 293px;
      }
      .span3{
        width: 293px;
        .item{
          display: block;
        }
      }
      img{
        height: 240px;
        margin-bottom: 0 auto 1em;
      }
    }
  }
/*--------------------------------
END HOME
--------------------------------*/
/*--------------------------------
SIGN UP
--------------------------------*/
.signupform{
  margin:2em auto 0;
  float:none;
  h2{
    font: 1.750em 'GothamMedium', helvetica, arial, sans-serif;
    color: #808080;
  }
  input{
    width:97.8%;
    margin:10px 0px 0px 0px;
    font: 0.750em/2em 'GothamMedium', helvetica, arial, sans-serif;
    color: #ccc;
  }
  .button{
    background:url(sprites.png);
    border:0px;
    width:100%;
    height:40px;
    font: 0.750em 'GothamMedium', helvetica, arial, sans-serif;
    color: #ccc;
    text-transform:uppercase;
    margin:15px 0px 0px 0px;
  }
  .button:hover{
    color:#fff;
  }
  label{
    text-transform:uppercase;
    width:100%;
    margin:10px 0px 0px 0px;
    float:left;
    font: 0.750em 'GothamMedium', helvetica, arial, sans-serif;
    color: #666;
  }
}
/*--------------------------------
CART
--------------------------------*/
.cart{
  width:1024px;
  margin:2em auto 0;
  .cart-items{
    margin-top:10px;
  }
  .cart-item{
    margin-top:10px;
    background:#fff;
  }
  .ph{
    width:90%;
  }
  h1{
    font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
    color: #808080;
  }
  h2{
    font: 1.1em 'GothamMedium', helvetica, arial, sans-serif;
    color: #bbb;
  }
  p{
    font: 0.8em 'GothamMedium', helvetica, arial, sans-serif;
    color: #999;
  }
  label{
     text-transform:uppercase;
    font: 0.7em 'GothamMedium', helvetica, arial, sans-serif;
    color: #666;
  }
  .span1{
    width:10%;
    text-align:center;
  }
  .span5{
    width:40%;
  }
  .delete{
    text-align:right;
  }
}
/*--------------------------------
ORDER
--------------------------------*/
.order{
  h1{
    font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
    color: #808080;
  }
}
.formtastic fieldset.inputs{
  font: 1.350em 'GothamMedium', helvetica, arial, sans-serif;
  color: #808080;
  border:none;
  text-align:left;
  padding:0;
  margin:0;
}
.formtastic fieldset.inputs ol > li.input.stringish input[type="text"], .formtastic fieldset.inputs ol > li.input.stringish input[type="password"], .formtastic fieldset.inputs ol > li.input.stringish input[type="number"], .formtastic fieldset.inputs ol > li.input.stringish input[type="email"], .formtastic fieldset.inputs ol > li.input.stringish input[type="url"], .formtastic fieldset.inputs ol > li.input.stringish input[type="tel"], .formtastic fieldset.inputs ol > li.input.stringish input[type="search"], .formtastic fieldset.inputs ol > li.input.stringish input[type="date"], .formtastic fieldset.inputs ol > li.input.stringish input[type="time"], .formtastic fieldset.inputs ol > li.input.stringish input[type="datetime"], .formtastic fieldset.inputs ol > li.input.stringish input[type="datetime-local"]{
  border-radius:0px;
  margin-top:5px;
  width:100%;
}
.formtastic fieldset.inputs > legend{
  font: .7em 'GothamMedium', helvetica, arial, sans-serif;
  color: #808080;
  border:none;
  text-align:left;
  margin-bottom:10px;
}
.formtastic fieldset.inputs > ol > li.input label.label{
  font: .7em 'GothamMedium', helvetica, arial, sans-serif;
  width:auto;
  text-align:left;
  color:#808080;
}